:root{
    /* palette */
    --green: #56ff22;
    --alt-green: #09a809;
    --dark-grey: #313337;
    --grey: #ddd;
    --white: #fff;

    /* font-size */
    --title: 30px;
    --subtitle: 17px;
    --text: 12px;

    /* shadow */
    --shadow: 2px 3px 5px #31333788;

    /* border */
    --border: 2px solid #ddd;
    --radius: 5px;

    /* space */
    --space-s: 5px;
    --space-m: 10px;
    --space-l: 20px;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-grey);
}
hr{
    color: var(--grey);
    margin: 50px 0;
}
label{
    font-size: var(--subtitle);
}
input{
    border: var(--border);
    border-radius: var(--radius);
    height: 30px;
    margin-top: var(--space-s);
    margin-bottom: var(--space-m);
    width: 100%;
}

/* bar nav */

.footer,
.bar-nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-l);
}
.bar-nav{
    background-color: var(--green);
    box-shadow: var(--shadow);
}
.bar-nav-logo img{
    display: block;
}
.bar-nav-link p{
    display: inline-block;
}
.bar-nav-link p a{
    font-size: var(--text);
    margin-left: var(--space-l);
    color: black;
}
.bar-nav-link p a:hover{
    color: var(--white);
}

/* main */

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 550px;
    padding-top: 100px;
    background-image: radial-gradient(1500px 350px ellipse at center 100%, var(--grey) 60% , var(--white) 60%);
}
.main-title{
    width: 100%;
    padding: 0 200px;
    margin-bottom: var(--space-l);
}
.main-title h1{
    font-size: var(--title);
    text-align: center;
}
.main-product{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 200px;
}
.main-product .product{
    width: 240px;
    height: 275px;
    border-radius: var(--radius);
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: var(--space-m);
    margin: var(--space-m);
}
.product-img{
    text-align: center;
    height: 110px;
    margin: var(--space-m) 25%;
}
.product-title{
    font-size: var(--subtitle);
    margin-bottom: var(--space-s);
}
.product-description{
    display: inline-block;
    height: 60px;
    font-size: var(--text);
}
.CTA-buttom{
    display: inline-block;
    width: 220px;
    height: 35px;
    font-size: var(--subtitle);
    font-weight: 700;
    line-height: 35px;
    color: var(--white);
    background-color: var(--green);
    border-radius: var(--radius);
    text-align: center;
}
.CTA-buttom:hover{
    background-color: var(--alt-green);
}

/* section */

.benefit-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 100%;
    border-bottom: var(--border);
}
.benefit-caracteristic{
    width: 220px;
    height: 300px;
    text-align: center;
}
.benefit-img{
    height: 140px;
    margin: var(--space-l) 0;
}
.benefit-title{
    font-size: var(--subtitle);
    margin-bottom: var(--space-m);
}
.benefit-description{
    font-size: var(--text);
    text-align: left;
}

/* article */

.review{
    min-height: 400px;
    text-align: center;
    padding: 30px 0;
}
.review-title{
 font-size: var(--title);
 margin: 40px 0;
}
.review-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 10%;
}
.review-container div{
    overflow: hidden;
    height: 190px;
    width: 240px;
    border-radius: var(--radius);
    margin: var(--space-m) var(--space-s);
    box-shadow: var(--shadow);
}
.review-img{
    display: block;
    height: 110px;
}
.review-name{
    font-size: var(--subtitle);
    margin: var(--space-s) 0;
}
.review-comment{
    font-size: var(--text);
    text-align: left;
    margin: 0 var(--space-m);
}

/* footer */

.footer{
    background-color: var(--dark-grey);
}
.footer a{
    font-size: var(--subtitle);
    color: var(--white);
}
.footer a:hover{
    color: var(--green);
}

/* ___________________________________ Productos */

.row{
    display: flex;
    width: 100%;
}
.col-2,
.col-4{
    padding: var(--space-m);
    margin: 0 auto;
}
.col-2{
    width: 25%;
    text-align: center;
}
.col-2 .product-img{
    margin: 0;
}
.col-4{
    width: 50%;
}

/* ___________________________________ Ventas */


.form-container{
    display: flex;
    justify-content: space-between;
}
.product-col,
.form-col{
    box-shadow: var(--shadow);
    height: 300px;
    padding: 20px 10px;
}
.product-col{
    text-align: center;
    width: 30%;
}
.form-col{
    width: 65%;
}
.form-container .form-img{
    height: 150px;
    margin: var(--space-m) 0;
}
.form-container .form-title{
    font-size: var(--title);
    margin-bottom: var(--space-m);
}
.form-container .form-description{
    font-size: var(--text);
}
.form-container .CTA-buttom{
    margin-top: var(--space-l);
    width: 100%;
}

/* ___________________________________ Faqs y Legal */

.form-container,
.grid-container,
.faqs,
.legal{
    margin: 80px auto 40px;
    max-width: 800px;
    min-height: 70vh;
    padding: 0 10px;
}
.grid-title,
.faq-title,
.legal-title{
    margin-bottom: 50px;
}
.question,
.answer{
    margin-bottom: var(--space-l);
}
.answer{
    border-bottom: 3px solid var(--grey);
    padding-bottom: var(--space-m);
}


/* ___________________________________ responsive design index */

@media (max-width: 900px){
    .main-container{
        padding-top: var(--space-l);
    }
    .main-title{
        padding: 0 100px
    }
    .main-product{
        padding: 0;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px){
    :root{
        --title: 20px
    }
    .main-title{
        padding: 0 50px;
    }
    .main-container,
    .benefit-container{
        height: auto;
        flex-direction: column;
        padding: 50px 0;
    }
}

/* productos */

@media (max-width: 900px){
    .grid-container{
        padding: var(--space-l) 0;
    }
    .row{
        display: flex;
        justify-content: center;
        position: relative;
        height: 250px;
        width: 100%;
        padding: 0;
    }
    .col-2,
    .col-4{
        position: absolute;
        width: 100%;
    }
    .col-2{
        top: 0;
    }
    .col-4{
        bottom: 0;
        text-align: center;
    }
    .col-2 .product-img{
        margin: 0;
    }
    .product-description{
        height: 50px;
    }
}

/* ventas */

@media (max-width: 900px){
    .form-container{
        flex-direction: column;
        align-items: center;
    }
    .product-col,
    .form-col{
        width: 100%;
    }
    .product-col{
        box-shadow: none;
    }
}
